<footer class="s-cart-footer">
  <a href="#" class="s-cart-footer__checkout" title="Checkout" ng-if="cartItems.length">CHECKOUT</a>
  <div class="s-cart-footer__continue">
    <a href="#" title="Contiue shopping">CONTINUE SHOPPING</a>
  </div>
  <div class="s-cart-footer__secure-text">
    <span>Secure checkout. Shopping is always safe &amp; secure</span>
    <img src="assets/lock.jpg" alt="lock.jpg">
    <hr>
  </div>
  <div class="s-cart-footer__bottom-text">
    <a href="#" title="Sign In">SIGN IN</a> to save your cart and have access to items on mobile, tablet, and desktop.
  </div>
</footer>