<div class="s-cart-item">
    <div class="s-cart-item-row">
        <div class="s-cart-item-col s-cart-item-col--img">
            <img ng-src="assets/T{{cartItem.p_id}}.jpg" alt="{{cartItem.p_variation}} {{cartItem.p_name}}" />
        </div>
        <div class="s-cart-item-col s-cart-item-col--details">
            <div class="item-title text-uppercase">{{cartItem.p_variation}}</div>
            <div class="item-title text-uppercase">{{cartItem.p_name}}</div>
            <div class="item-meta">
                <ul>
                    <li ng-if="cartItem.p_style">
                        Style #: <span class="text-uppercase">{{cartItem.p_style}}</span>
                    </li>
                    <li ng-if="cartItem.p_selected_color.name">
                        Colour: <span class="text-capitalize">{{cartItem.p_selected_color.name}}</span>
                    </li>
                    <li class="hide-desktop" ng-if="cartItem.p_selected_size.code">
                        Size: <span class="text-uppercase">{{cartItem.p_selected_size.code}}</span>
                    </li>
                </ul>
            </div>
            <div class="item-qty">
                <span>QTY:</span>
                <input type="number" ng-model="cartItem.c_quantity" min="0" max="10" />
            </div>
            <div class="item-price">
                <span class="item-price__was" ng-if="cartItem.p_originalprice !== cartItem.p_price">
                <sup>{{cartItem.c_currency}}</sup><s>{{originalPrice() | number:2}}</s>
            </span>
                <span class="item-price__is"><sup>{{cartItem.c_currency}}</sup>{{currentPrice() | number:2}}</span>
            </div>
        </div>
        <div class="s-cart-item-col s-cart-item-col--size">
            <div class="item-size">
                {{cartItem.p_selected_size.code}}
            </div>
        </div>
        <div class="s-cart-item-col s-cart-item-col--qty">
            <div class="item-qty">
                <input type="number" ng-model="cartItem.c_quantity" min="0" max="10" />
            </div>
        </div>
        <div class="s-cart-item-col s-cart-item-col--price">
            <div class="item-price">
                <span class="item-price__was" ng-if="cartItem.p_originalprice !== cartItem.p_price">
            <sup>{{cartItem.c_currency}}</sup><s>{{originalPrice() | number:2}}</s>
          </span>
                <span class="item-price__is"><sup>{{cartItem.c_currency}}</sup>{{currentPrice() | number:2}}</span>
            </div>
        </div>
    </div>
    <div class="s-cart-item-actions">
        <ul>
            <li><a href="#" ng-click="editCartItem($event)" title="Edit or update current item" role="button">EDIT</a></li>
            <li><a href="#" ng-click="removeItem($event,$index)" title="Remove item from cart" role="button"><strong>X</strong> REMOVE</a></li>
            <li><a href="#" ng-click="addToWishlist($event,$index)" title="Save item for later" role="button">SAVE FOR LATER</a></li>
        </ul>
    </div>
</div>
